{% extends "base.html" %}{% block title %}Friends{% endblock %}{% block content %}
<h1 align="center">Messages</h1>
<ul class="list-group list-group-flush" id="friend">
    {% for person in user.followed %} {% if person.is_following(user) %}
    <li class="list-group-item">
    {{ person.first_name }}
    <div style="float: right">
        {% set new_messages = namespace(value=0) %}
        {% set txmp = ReadTime.query.filter_by(recipient_id=user.id, sender_id=person.id).first()%}
        {% for msg in msgs %}
            {% if msg.sender_id == person.id and msg.timestamp > txmp.readDate%}
                {% set new_messages.value = new_messages.value + 1 %}
            {% endif %}
        {% endfor %}
        <span id="message_count" class="badge" value="{{new_messages.value}}" style="visibility: {% if new_messages.value < 1 %}hidden {% else %}visible {% endif %};">
            {{ new_messages.value }}
        </span>
    </div>
    <button
        type="button"
        class="close"
        onClick="window.location.href='{{ url_for('views.send_message', recipient=person.username) }}';"
    >
        Message
    </button>
    </li>
    {% endif %} {% endfor %}
</ul>
{% endblock %}


