{% extends "base.html" %} {% block title %}Your Messages{% endblock %} {% block
content %}

<h1 align="center">Messages</h1>
<ul class="list-group list-group-flush" id="message">
  {% for msg in messages %}
  <li class="list-group-item">
    {{ msg.body }}
    <form style="float: right" align="right" action="" method="POST">
      <button
        type="submit"
        class="close"
        id="delete"
        name="delete"
        value="{{msg.id}}"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </form>
    <div style="float: right" align="right">
      <!-- maybe add username to the messages database instead of having to query everytime -->
      From: {{ User.query.filter_by(id=msg.sender_id).first().first_name }} -
      ({{ User.query.filter_by(id=msg.sender_id).first().username }})
    </div>
  </li>
  {% endfor %}
</ul>

{% endblock %}
